body {
    font-family: Arial;
    background: #f0f0f0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.form-section {
    background: #fff;
    padding: 20px;
    width: 350px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #999;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form select, form button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
form button {
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

#carDisplay {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.car-card {
    background: white;
    padding: 15px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px grey;
}

.car-card h3 {
    margin-top: 0;
}
